.contentor{
   position: fixed; top: 0px; right: 0px;
  
}

.caixa{
    position: fixed; top: 10px; right: 10px;
    margin: auto; 
    border: 5px solid rgb(0, 74, 160); 
    border-radius: .5em;
    width: 44.5px;
    height: 44.5px;
    transition: 0.5s;  
}

.change .caixa{
    border: 5px solid rgb(255, 255, 255); 
    transition: 0.5s;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: rgb(0, 74, 160);
    margin: 7px 4.5px 8px;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(255, 255, 255);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(255, 255, 255);
}  

.lateral{
    transition: 0.5s;
}

.change .lateral {
    background-color: rgb(0, 74, 160);
    padding: 100vh 100px;                   /*Viewport 100 (extende pela página) 100 na largura*/
    position: relative;
    overflow: hidden;       /*overflow é tudo o que está para além do elemento. Hidden : tudo o que aparece do lado de fora do elemento está escondido.
                            Se se eliminar esta linha, vai acabar por mostrar o retângulo a 90 graus do lado
                            esquerdo, retangulo esse que tem as propriedades definidas abaixo*/
}


.links{
    position: inherit;
    transition: 1s;
}

.change .links {
    position: fixed; top: 150px; right: 60px;
    overflow: hidden;
}

.change .googlelink{
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 19px;
    color:rgb(255, 255, 255);
    line-height: 35px;                          /*line-height ajuda  a definir a posição da linha na vertical*/
}

.change .fblink{
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 19px;
    color:rgb(255, 255, 255);
    line-height: 35px;
}

.change .iglink{
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 19px;
    color:rgb(255, 255, 255);
    line-height: 35px;
}
